.about-container {
    margin: 1em auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.about-container img {
    margin: 1em;
    width: 70%;
    height: 70%;
    margin: 1em auto
}

.about-title {
    font-size: 3em;
    text-align: center;
    
}

.about-motto {
    font-size: 1.2em;
    font-weight: 400;
    font-style: italic;
    margin: 0.4em auto;
}

.about-description {
    font-weight: 300;
    margin: 1em auto;
    text-align: center;
}